.sidenav {
    width: 200px;
}

.nav-list{
    font-size: 1.5rem;
}

.sidenav i {
    padding-right: 10px;    
}

.content {
    background-color: white;
    color: rgb(90, 88, 88);
    padding: 16px;

}